.social {
	display: flex;
	align-items: center;
	&__list {
		display: flex;
	}
	&__item {
		background: url(../../img/icon/social/spritesheet.png);
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		margin-right: 14px;
	}
	&__item--vk {
		background-position: -35px -35px;
	}
	&__item--fb {
		background-position: -5px -5px;
	}
	&__item--ig {
		background-position: -35px -5px;
	}
	&__item--tv{
	background-position: -5px -35px;
	}
	&__item:last-child {
		margin-right: 0;
	}
}